/*
Colors used:
Primary Color (Orange): #ff901f;
Primary Color (Black): #000;
Secondary Color (Orange): #ffecd8;
Tertiary Color (Blue): #85d3c4;
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  /* Sets the font size to 16px */
  font-weight: 400;

  line-height: 1.6;

  color: #ff901f;
}

header {
  position: fixed;
  width: 100%;
  background-color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 0;
  user-select: none;
}

main {
  padding-top: 48px;
}

footer {
  background-color: #241200;
  color: #ff901f;
  padding: 8px;
  text-align: center;
}

#hexpert-projects main {
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Mono", monospace;
  line-height: 1.4;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.35em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

/* Links */
a {
  color: #ff901f;
  text-decoration: none;

  /* No underlining */
}

/*
a:visited {
  /* visited link
  color: #ff901f;
}
*/

a:hover {
  /* color: #85D3C4; */
  text-decoration: underline;

  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffecd8;
}

nav > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  margin-right: 16px;
}

nav > ul > li > a {
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 700;
  transition: color ease 0.4s;
}

nav > ul > li > a:hover {
  text-decoration: none;
  color: #85d3c4;
}

[class*="h-light-"] {
  font-weight: 400;
  padding: 2px 4px;
}

.h-light-o {
  background-color: #ff901f;
  color: #000;
}

.h-light-b {
  background-color: #000;
  color: #ff901f;
}


#nav {
  z-index: 100;
}

#hero {
  background-color: #000;
  color: #ff901f;
  padding: 20px 16px;
  display: inline-block;
  width: 100%;
}

.hero-project {
  width: 100%;
  margin: 24px 0;
}

#resume {
  border-color: #ff901f;
  border: 2px solid #ff901f;
  border-radius: 100px;
  padding: 6px 14px;
  text-decoration: none;
  opacity: 1;
  transition: border-color ease 0.4s, color ease 0.4s;
}

#resume:hover, #button-outline:hover {
  border-color: #85d3c4;
  color: #85d3c4;
  text-decoration: none;
}

#contact {
  background-color: #ff901f;
  padding: 8px 16px;
  color: #000;
  border-radius: 100px;
  text-decoration: none;
  opacity: 1;
  transition: background-color ease 0.4s;
}

#contact:hover {
  background-color: #85d3c4;
}

/*
#contact h2, #contact p {
  text-align: center; Centers text */

/* Images */
img {
  width: 100%;
}

img.author-img {
  width: 100%;
}

svg.icons {
  color: #ff901f;
  stroke: #ff901f;
  fill: #ff901f;
}

/* Links */

/* Buttons */
.button {
  display: inline-block;

  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #fff;
  color: #000;

  /* needed to override the default link color */
  font-weight: 400;
  padding: 8px 16px;
  margin-right: 16px;
  border-radius: 0px;

  /* border-bottom: 2px solid #241200; /* width of the border, type, color */
  transition: 0.4s color;
}

.button-card {
  border: 2px solid #ff901f;
  border-radius: 100px;
  padding: 8px 16px;
  color: #ff901f;
  font-weight: 400;
  text-decoration: none;
}

.button-project {
  border: 2px solid #ff901f;
  border-radius: 100px;
  padding: 8px 16px;
  color: #ff901f;
  font-weight: 400;
  text-decoration: none;
  transition: border-color ease 0.4s, color ease 0.4s;
}

#button-project:hover {
  text-decoration: none;
  color: #85d3c4;
  border-color: #85d3c4;
}

.align {
  display: inline-block;
  position: relative;
  height: 18px;
  margin-right: 11px;
}

.project-button-text {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

/* Layout styling */
.container {
  padding: 0 16px;
}

.row {
  margin: 24px 0;
}

.row-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, 288px);
  grid-gap: 36px;
  justify-content: space-around;
  align-items: center;
  margin: 24px 0;
}

.flex-about {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 16px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.project-head {
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.project-title {
  align-items: baseline;
}
.project-marg {
  margin-bottom: 32px;
}

.title-marg {
  margin: 0;
  margin-right: 0.5em;
}

.flex-project-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 48px;
}

.flex-project-page {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.flex-style {
  border: 4px solid #ff901f;
  border-radius: 0px;
  padding: 16px;
  margin-bottom: 24px;
}

.flex-col {
  flex-direction: column;
}

.section-style {
  background-color: #ff901f;
  color: #000;
  font-weight: 400;
}

.grid-about {
  display: grid;
  grid-template-columns: repeat(auto-fill, 288px);
  grid-gap: 36px;
  justify-content: space-between;
  align-items: top;
}

.bot-marg {
  margin-bottom: 48px;
}

#about h2.st-marg {
  margin-bottom: 0;
}

#about h2.mt-marg {
  margin-top: 0;
}

/*
#work .row {
  padding-bottom: 24px;
  border-bottom: 1px solid #241200;
}
*/
.logo {
  max-width: 24px;
  vertical-align: middle;
}

.svg-logo {
  stroke-width: 8;
  stroke: #ff901f;
}

.svg-button {
  stroke: #ff901f;
}

.svg-section {
  width: 24px;
}

.hurl {
  display: inline-block;
  padding: 0;
}

.icons {
  height: 48px;
  width: 48px;
}

.icon-mail {
  stroke: #ff901f;
  fill: none;
  stroke-width: 30.65500069;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  transition: box-shadow ease 0.2s, top ease 0.2s, left ease 0.2s;
}

.coming-soon {
  background-image: url("../img/coming_soon/coming_soon_alt@1x.png");
}

.card-dims {
  width: 288px;
  height: 432px;
}

.card-display {
  display: block;
}

#hexpert.card {
  background-image: url("../img/hexpert/hero_image/portfolio_card@1x.png");
}

#wedpun.card {
  background-image: url("../img/lethal_wedpun/hero_image/lethal_wedpun_hero@1x.png");
}

.content {
  padding: 64px 16px 24px;
}

.card .content {
  display: block;
  position: relative;
  top: -320px;
  pointer-events: none;
  width: 288px;
  height: 320px;
  background-image: linear-gradient(0deg, #000, transparent);
  color: #fff;
}

.t-shadow {
  text-shadow: 0px 2px 8px #000;
}

.content-flex {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.h4-marg {
  margin: 0;
}

.h1-marg {
  margin: 0;
}

.h3-marg {
  margin: 0;
}

.p-marg {
  margin-bottom: 0;
}

.rec-proj-space {
  padding: 0 32px;
}

.card:hover {
  top: -4px;
  left: -4px;
  box-shadow: 8px 8px #85d3c4;
}

.card:hover .content {
  display: block;
}

#unused {
  display: none;
}

a.in-progress {
  pointer-events: none;
}

.card:hover.in-progress {
  transition: none;
  top: 0;
  left: 0;
  box-shadow: none;
}

.social {
  display: inline-block;
  padding-top: 16px;
}

.social-link {
  padding: 0 16px;
}

.social-link:hover {
  text-decoration: none;
}

.outline {
  display: inline-block;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #ff901f;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

img.low-fi {
  border-radius: 2vw;
}

.profile-image {
  display: block;
  border-radius: 0px;
  border: 4px solid #ff901f;
  aspect-ratio: 1/1;
  margin-bottom: 24px;
  overflow: hidden;
}

.profile-position {
  position: relative;
  top: -20%;
}

.line-project {
  background-color: #000;
  color: #ff901f;
  border: 4px solid #ff901f;
  padding: 16px;
}

.line-project.btn-toggle {
  padding: 0;
}

.no-line-project {
  background-color: #000;
  color: #ff901f;
  padding: 16px;
}

.tert-project {
  background-color: #000;
  color: #ff901f;
  padding: 16px;
}

.sec-project {
  background-color: #85d3c4;
  color: #000;
  padding: 16px;
}

.prim-project {
  background-color: #ff901f;
  color: #000;
  padding: 16px;
}

.cont-project {
  margin-top: 16px;
}

.cont-project {
  margin-top: 16px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.collapsible {
  cursor: pointer;
  width: 100%;
  text-align: left;
  color: inherit;
  background-color: inherit;
  padding: 16px;
  border: none;
  scroll-margin-top: 120px;
}

.collapsible:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.collapsible:hover circle.hovered, .collapsible:hover path.svg-button {
  fill: #ff901f;
  stroke: #000;
}

.project-toggle {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  padding: 0 16px;
}

.section-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-button {
  color: inherit;
}

.svg-section path.open-icon {
  transform-origin: center;
  transition: transform ease 0.4s;
}

.svg-section.closed path.open-icon {
  transform: rotate(270deg);
}

.dropdown {
  overflow: hidden;
  padding: 6px 0;
}

.dropdown .dropbtn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: inherit;
  background-color: inherit;
  font-family: inherit;
  font-weight: 700;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 72px;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  display: flex;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  background-color: #ff901f;
  line-height: 1.3;
  margin-bottom: 8px;
  border-radius: 24px;
  text-transform: uppercase;
  transition: background-color ease 0.4s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a:hover {
  background-color: #85d3c4;
}

.show {
  display: block;
}

[class*="mySlides"] {
  display: none;
}

img.slide-img-tall {
  height: 100%;
  width: auto;
}

.slide-height {
  height: 100%;
}

.img-height {
  height: 400px;
}

#design-l-s .img-height {
  width: auto;
}

#design-l-s .column.image {
  text-align: center;
}

#design-l-s .section-flex {
  align-items: unset;
}

.frame-height {
  height: 100%;
}

#testing img {
  height: 400px;
  width: auto;
}

[class*="myDots"] {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #ff901f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease, margin 0.2s ease, height 0.2s ease, width 0.2s ease;
}

.dot-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 16px;
}

.dots {
  display: flex;
  align-items: center;
  height: 18px;
}

.active,
[class*="myDots"]:hover {
  height: 18px;
  width: 18px;
  margin: 0 3px;
}

/* Slideshow container */
.slideshow-container {
  height: 500px;
  max-width: 700px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-frame {
  margin: 24px;
}

.hexpert-frame {
  border: solid 4px #ff901f;
}

.slide-caption {
  margin: 0;
  position: absolute;
  top: 16px;
  left: 16px;
}

.flex-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ff901f;
  font-weight: bold;
  font-size: 18px;
  transition: 0.4s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
}

.next {
  right: 0;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #ff901f;
  color: #000;
  text-decoration: none;
}

#home .home, #about .about, #contact .contact, #projects .projects, #hexpert-projects .projects {
  color: #85d3c4;
}

/* viewport sizing */

@media only screen and (max-width: 719px) {
  nav > ul {
    flex-direction: column;
    align-items: flex-end;
  }

  .dropdown-content {
    position: relative;
    top: 8px;
  }

  .dropbtn {
    float: right;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 720px) {
  header {
    text-align: unset;
    padding: 16px 0;
  }

  nav {
    width: auto;
    float: right;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  main {
    padding-top: 116px;
  }

  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.35em;
  }

  h4 {
    font-size: 1.15em;
  }

  .projects {
    margin: 0;
  }

  .logo {
    max-width: 48px;
    margin-top: 12px;
  }

  .svg-section {
    width: 48px;
  }

  [class*="col-"] {
    float: left;
    padding: 0 16px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: calc(100% / 3);
  }

  .flex-about {
    padding: 16px;
    flex-direction: row;
  }

  .card .content {
    display: none;
  }


  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 16px 0;
  }

  nav {
    width: auto;
    float: right;

    /*    margin-top: 4px; */
  }

  main {
    padding-top: 116px;
  }

  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.6;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.35em;
  }

  .projects {
    margin: 0;
  }

  [class*="col-"] {
    float: left;
    padding: 0 16px;
  }


  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .flex-about {
    padding: 24px;
    flex-direction: row;
  }

  .card .content {
    display: none;
  }


  .row-card {
    justify-content: space-between;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
@media only screen and (min-width: 1440px) {}
*/
