/*
Colors used:
Primary Color (Orange): #ff901f;
Primary Color (Black): #000;
Secondary Color (Orange): #ffecd8;
Tertiary Color (Blue): #85d3c4;
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  /* Sets the font size to 16px */
  font-weight: 300;

  /* Sets the font weight to 300 */
  line-height: 1.6;

  /* Sets the line-height to 1.6 * the font-size */
  color: #ff901f;
}

header {
  position: fixed;
  width: 100%;
  background-color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 0;
}

main {
  padding-top: 48px;
}

footer {
  background-color: #241200;
  color: #ff901f;
  padding: 8px;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Mono", monospace;
  line-height: 1.4;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.35em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

/* Links */
a {
  color: #ff901f;
  text-decoration: none;

  /* No underlining */
}

/*
a:visited {
  /* visited link
  color: #ff901f;
}
*/

a:hover {
  /* color: #85D3C4; */
  text-decoration: underline;

  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffecd8;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  position: relative;
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:hover {
  text-decoration: none;
  color: #85d3c4;
}


/*
nav > ul > li > a:hover {
  top: -2px;
  left: -2px;
  text-shadow: 4px 4px #85d3c4;
  text-decoration: none;
}
*/

#nav {
  z-index: 100;
}

#hero {
  background-color: #000;
  color: #ff901f;
  padding: 20px 16px;
  display: inline-block;
  width: 100%;
}

#hero h2, #hero p {
  text-align: center;

  /* Centers text */
}

#hero span {
  color: #85d3c4;
}

#resume {
  border-color: #ff901f;
  border: 2px solid #ff901f;
  border-radius: 100px;
  padding: 6px 14px;
  text-decoration: none;
  opacity: 1;
  transition: opacity ease 0.4s;
}

#resume:hover, #button-outline:hover {
  border-color: #85d3c4;
  color: #85d3c4;
  text-decoration: none;
}

#contact {
  background-color: #ff901f;
  padding: 8px 16px;
  color: #000;
  border-radius: 100px;
  text-decoration: none;
  opacity: 1;
  transition: background-color ease 0.4s;
}

#contact:hover {
  background-color: #85d3c4;
}

/*
#contact h2, #contact p {
  text-align: center; Centers text */

/* Images */
img {
  width: 100%;
}

svg.icons {
  color: #ff901f;
  stroke: #ff901f;
  fill: #ff901f;
}

/* Links */

/* Buttons */
.button {
  display: inline-block;

  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #fff;
  color: #000;

  /* needed to override the default link color */
  font-weight: 400;
  padding: 8px 16px;
  margin-right: 16px;
  border-radius: 0px;

  /* border-bottom: 2px solid #241200; /* width of the border, type, color */
  transition: 0.4s color;
}

.button-card {
  border: 2px solid #ff901f;
  border-radius: 100px;
  padding: 8px 16px;
  color: #ff901f;
  font-weight: 400;
  text-decoration: none;
}

/*
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80%
  text-decoration: none;
}
*/
.button.project {
  color: #ff901f;
}

.button.project:hover {
  background-color: #ff901f;
  color: #000;
  text-decoration: none;
}

/* .navigation {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
} */

/* Layout styling */
.container {
  padding: 0 16px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 288px);
  grid-gap: 36px;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;

  /* 24px top and bottom, 0 left and right */
}

/*
#work .row {
  padding-bottom: 24px;
  border-bottom: 1px solid #241200;
}
*/
.logo {
  max-width: 24px;
  vertical-align: middle;
}

.svg-logo {
  stroke-width: 8;
  stroke: #ff901f;
}

.hurl {
  display: inline-block;
  padding: 0;
}

.icons {
  height: 48px;
  width: 48px;
}

.icon-mail {
  stroke: #ff901f;
  fill: none;
  stroke-width: 30.65500069;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  width: 288px;
  height: 432px;
  background-image: url("../img/coming_soon/coming_soon_alt@1x.png");
  display: flex;
  flex-direction: column-reverse;
  transition: box-shadow ease 0.2s, top ease 0.2s, left ease 0.2s;
}

#hexpert.card {
  background-image: url("../img/hexpert/hero_image/portfolio_card@1x.png");
}

#wedpun.card {
  background-image: url("../img/lethal_wedpun/hero_image/lethal_wedpun_hero@1x.png");
}

/*
.card-marg {
  margin: 0 16px;
}
*/

.content {
  padding: 64px 16px 24px;
}

.card .content {
  display: none;
  background-image: linear-gradient(0deg, #000, transparent);
  color: #fff;
}

.h4-marg {
  margin: 0;
}

.rec-proj-space {
  padding: 0 32px;
}

.card:hover {
  cursor: pointer;
  top: -4px;
  left: -4px;
  box-shadow: 8px 8px #85d3c4;

}

.card:hover .content {
  display: block;
}

.social {
  display: inline-block;
  padding-top: 16px;
}

.social-link {
  padding: 0 16px;
}

.social-link:hover {
  text-decoration: none;
}

.outline {
  display: inline-block;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #ff901f;
}
/*
.navigation.project {
  color: #ff901f;
  transition: 0.4s color;
}

.navigation.project.state:hover {
  padding: 8px 16px;
  background-color: #ff901f;
  color: #000;
  text-decoration: none;
}
*/
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

img.low-fi {
  border-radius: 2vw;
}

.circle {
  border-color: #ff901f;
  border-image: none;
  border-radius: 50%;
  border-style: solid;
  border-width: 8px;
  height: 20em;
  width: 20em;
  overflow: hidden;
}

.line-project {
  background-color: #241200;
  color: #ff901f;
  border-radius: 2vw;
  border: 4px solid #ff901f;
  padding: 16px;
}

.tert-project {
  background-color: #85d3c4;
  color: #241200;
  border-radius: 2vw;
  padding: 16px;
}

.sec-project {
  background-color: #241200;
  color: #ff901f;
  border-radius: 2vw;
  padding: 16px;
}

.prim-project {
  background-color: #ff901f;
  color: #241200;
  border-radius: 2vw;
  padding: 16px;
}

h3.cont-project {
  margin-top: 16px;
}

h2.cont-project {
  margin-top: 16px;
}

/*
img.author-img {
  max-width: 600px;
}
*/
.crop {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  border: 4px solid #ff901f;
}

.align {
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  /* animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; */
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  /* animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; */
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  /* animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; */
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

/* viewport sizing */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 16px 0;
  }

  nav {
    width: auto;
    float: right;

    /* margin-top: 4px; */
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  main {
    padding-top: 104px;
  }

  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.35em;
  }

  h4 {
    font-size: 1.15em;
  }

  .projects {
    margin: 0;
  }

  .crop {
    width: 600px;
    height: 600px;
  }

  .logo {
    max-width: 48px;
    margin-top: 12px;
  }

  [class*="col-"] {
    float: left;
    padding: 0 16px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: calc(100% / 3);
  }

  /*
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  */

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 16px 0;
  }

  nav {
    width: auto;
    float: right;

    /*    margin-top: 4px; */
  }

  main {
    padding-top: 104px;
  }

  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.35em;
  }

  .projects {
    margin: 0;
  }

  [class*="col-"] {
    float: left;
    padding: 0 16px;
  }

  /*
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  */

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
@media only screen and (min-width: 1440px) {}
*/
